body {
    background-image: url(background.png);
}

img {
    border: 7px solid rgb(255, 115, 173);
    border-radius: 20px;
    margin-top: 10px;
}

.text {
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    border-radius: 10px;
}

.bday {
    color: rgb(132, 0, 255);
    text-align: center;
    font-size: 70px;
}

.date {
    text-align: center;
    color: rgb(68, 0, 255);
    font-size: 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.comment {
    font-size: 40px;
}

.left {
    float: left;
    margin-left: 10%;
}

.right {
    float: right;
    margin-right: 10%;
}

.clear {
    clear: both;
}