body {
    background-color: #ffbee5;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
}

.tab {
    background-color: #ffe6f5;
    padding: 10px;
    border: 3px solid #ffe6f5;
    border-radius: 25px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #8A426D;
    width: 100%;
    transition: border-color 0.25s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: none;
}

.tab:hover, .tab:active {
    border-color: #f38aff;
    box-shadow: 0px 0px 3px 3px #f38aff;
    text-decoration: underline;
}

#content {
    height: 500px;
    padding: 10px;
    border-radius: 30px;
    background-color: #ffd9f0;
    margin: 10px;
    text-align: center;
}